<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <title>课程考试 - XtExam</title>
    <link rel="stylesheet" href="/static/css/class_exam.css">
    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/static/js/class_exam.js" defer></script>
</head>

<body>
    <div id="notification-container"></div>
    <div class="sidebar">
        <img src='/static/img/paper.png' alt='avatar'>
        <div class='class_manage-btn sidebar-btn'>自主练习</div>
        <div class='exampaper_manage-btn sidebar-btn'>错题集</div>
        <div class="exit-btn sidebar-btn">退出</div>
    </div>
    <!--主体内容-->
    <div class="content">
        <!--状态1：课程公告和考试列表-->
        <div class='content-box exam-box show'>
            <div class='bulletin-board'>
                <div class='bulletin-board-header'>班级公告</div>
                <div class='bulletin-text'></div>
            </div>
            <div class="divider"></div>
            <div class="exam-list"></div>
        </div>

        <!--状态2：考试试题内容-->
        <div class="content-box exam-content disabled">
            <div class='exam-header'>
                <div class='exam-header-text'>开始考试</div>
                <div class='countdown_container'><span>距离考试结束还有</span><span id='countdown'></span></div>
            </div>
            <div class="divider"></div>
            <div class="question-list"></div>
            <button class="back-button">返回</button>
            <div class="floating-save">
                <span>保存</span>
            </div>
        </div>
    </div>
</body>

</html>