<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <title>课程考试 - XtExam</title>
    <link rel="stylesheet" href="/static/css/class_exam.css">
    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/static/js/class_exam.js" defer></script>
</head>

<body>
    <div id="notification-container"></div>
    <div class="sidebar">
        <img src='/static/img/default_student_avatar.png' alt='avatar'>
        <div class='class_manage-btn sidebar-btn'>自主练习</div>
        <div class='exampaper_manage-btn sidebar-btn'>错题集</div>
        <div class="exit-btn sidebar-btn">退出</div>
    </div>
    <!--主体内容-->
    <div class="content">
        <!--状态1：课程公告和考试列表-->
        <div class='content-box exam-box show'>
            <div class='bulletin-board'>
                <div class='bulletin-board-header'>班级公告</div>
                <div class='bulletin-text'>
                    <!-- 这里展示课程公告的内容 -->
                </div>
            </div>
            <div class="divider"></div>
            <div class="exam-list">
                <!-- 历史考试列表 -->
                <div class="history-exams">
                    <!-- 这里展示历史考试列表 -->
                </div>
                <!-- 新的考试列表 -->
                <div class="new-exams">
                    <!-- 这里展示新的考试列表 -->
                </div>
            </div>
        </div>

        <!--状态2：考试试题内容-->
        <div class="content-box exam-content">
            <!-- 这里展示考试试题内容 -->
            
            <!-- 试卷信息会动态填充到这里 -->
             <!-- 返回按钮 -->
             <button class="back-button">返回</button>
        </div>
    </div>
</body>

</html>