<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <title>试卷管理 - XtExam</title>

    <link rel="stylesheet" href="/static/css/paperManage.css">
    <script src="/static/js/jquery-3.7.1.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/static/js/paperManage.js" defer></script>
</head>

<body>
    <!--侧边栏-->
    <div class="sidebar">
        <img id='LOGO' src='/static/img/paper.png' alt='LOGO'>
        <div class='paper_manage-btn'>
            <img src = '/static/img/plus.png' alt='主页'>
        </div>
        <div class='paper_list'>
            
        </div>
        <div class='btn-container'>
            <div class='sidebar-btn exit-btn'><img src='/static/img/exit.png' alt='退出'></div>
            <div class='sidebar-btn settings-btn'><img src='/static/img/settings.png' alt='设置'></div>
        </div>
    </div>

    <!--浮动窗口-->
    <div id="notification-container"></div>
    <div id='overlay'></div>
    <div class='paper_manage-window floatingWindow'>
        <div class="window-header">
            <div class="window-buttons">
                <div class="window-button mem_man-close close"></div>
                <div class="window-button minimize"></div>
                <div class="window-button maximize"></div>
            </div>
            <div class="window-title">试题管理</div>
        </div>
        <div class="window-content">
            <form class="members_query-form" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-control">
                    <label for="form-class_name">查询成员</label>
                    <input type="text" id="form-members_query" name="form-members_query" placeholder="请输入学号/姓名" />
                    <small>Error message</small>
                </div>
                <button class="members_query-submit submit-btn" type="submit">确认</button>
            </form>
            <div class='members_query_res-container'>
            </div>
        </div>
    </div>

    <div class='publish_exam-window floatingWindow'>
        <div class="window-header">
            <div class="window-buttons">
                <div class="window-button publish_exam-close close"></div>
                <div class="window-button minimize"></div>
                <div class="window-button maximize"></div>
            </div>
            <div class="window-title">发布考试</div>
        </div>
        <div class="window-content">
            <form class="publish_exam-form" method='post' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-control">
                    <label for="form-exam_name">考试名称</label>
                    <input type="text" id="form-exam_name" name="form-exam_name" placeholder="请输入考试名称" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="form-paper">选择试卷</label>
                    <select id="form-paper" name="form-paper">
                    </select>
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="form-start_time">考试开始时间</label>
                    <input type="datetime-local" name="form-start_time" id="form-start_time">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="form-exam_duration">考试时长</label>
                    <input type="time" name="form-exam_duration" id="form-exam_duration">
                    <small>Error message</small>
                </div>
                <button class="publish_exam-submit submit-btn" type="submit">发布</button>
            </form>
        </div>
    </div>
    

    <!--主体内容-->
    <div class="content">
        <!--欢迎界面-->
        <div class='content-box welcome-box show'>
            <div id='welcome'>Welcome!</div>
            <div id='under_welcome'>选择试卷开启编辑...</div>
        </div>

        <!--编辑器界面-->
        <div class='content-box editor-box disabled'>
            <div class='editor-header'>
                <div class='editor-header-text'>试卷编辑器</div>
            </div>
            <div class="divider"></div>
            <!--悬浮加号-->
            <div class="floating-plus">
                <span>+</span>
            </div>
            <div class="floating-save">
                <span>保存</span>
            </div>
            <div class='paper_header'>
                <div class="form-control">
                    <label for="paper_header_title">试卷名称</label>
                    <input type="text" id="paper_header_title" name="paper_header_title" placeholder="请输入试卷名称" />
                </div>
                <div class="form-control">
                    <label for="paper_header_tips">试卷提示</label>
                    <input type="text" id="paper_header_tips" name="paper_header_tips" placeholder="请输入试卷提示" />
                </div>
            </div>
            <div class="question-list">
                {% comment %} <div class='question-item' data-pk=''>
                    <form class='ques-item-status editor-form-control MultiCho show'>
                        <div class='ques-item-row1'>
                            <textarea class='ques_prompt' rows="3" cols="30" placeholder="请输入题干"></textarea>
                            <div class='ques-item-col2'>
                                <select class='ques_type'>
                                    <option value='MC' selected>单选题</option>
                                    <option value='MR'>多选题</option>
                                    <option value='FB'>填空题</option>
                                    <option value='SB'>主观题</option>
                                </select>
                                <input type="text" class="ques_category" placeholder="知识点类型" />
                            </div>
                        </div>
                        <input type="text" class="ques_options" placeholder="请输入选项,格式为若干个[A,B,C...]{选项提示文字}" />
                        <input type="text" class="ans" placeholder="请输入答案,格式为单个的A,B,C..." />
                        <div class="remove_paper"></div>
                    </form>
                    <form class='ques-item-status editor-form-control MultiRes disabled'>
                        <div class='ques-item-row1'>
                            <textarea class='ques_prompt' rows="3" cols="30" placeholder="请输入题干"></textarea>
                            <div class='ques-item-col2'>
                                <select class='ques_type'>
                                    <option value='MC'>单选题</option>
                                    <option value='MR' selected>多选题</option>
                                    <option value='FB'>填空题</option>
                                    <option value='SB'>主观题</option>
                                </select>
                                <input type="text" class="ques_category" placeholder="知识点类型" />
                            </div>
                        </div>
                        <input type="text" class="ques_options" placeholder="请输入选项,格式为若干个[A,B,C...]{选项提示文字}" />
                        <input type="text" class="ans" placeholder="请输入答案, 例如ABC" />
                        <div class="remove_paper"></div>
                    </form>
                    <form class='ques-item-status editor-form-control Blank disabled'>
                        <div class='ques-item-row1'>
                            <textarea class='ques_prompt' rows="3" cols="30" placeholder="请输入题干"></textarea>
                            <div class='ques-item-col2'>
                                <select class='ques_type'>
                                    <option value='MC'>单选题</option>
                                    <option value='MR'>多选题</option>
                                    <option value='FB' selected>填空题</option>
                                    <option value='SB'>主观题</option>
                                </select>
                                <input type="text" class="ques_category" placeholder="知识点类型" />
                            </div>
                        </div>
                        <textarea class='blank_ans' rows="2" cols="30" placeholder="请输入每个空的答案，格式为若干[1,2,3...]{答案}"></textarea>
                        <div class="remove_paper"></div>
                    </form>
                    <form class='ques-item-status editor-form-control Subjective disabled'>
                        <div class='ques-item-row1'>
                            <textarea class='ques_prompt' rows="3" cols="30" placeholder="请输入题干"></textarea>
                            <div class='ques-item-col2'>
                                <select class='ques_type'>
                                    <option value='MC'>单选题</option>
                                    <option value='MR'>多选题</option>
                                    <option value='FB'>填空题</option>
                                    <option value='SB' selected>主观题</option>
                                </select>
                                <input type="text" class="ques_category" placeholder="知识点类型" />
                            </div>
                        </div>
                        <textarea class='subjective_ans' rows="2" cols="30" placeholder="请输入参考答案/评分标准"></textarea>
                        <div class="remove_paper"></div>
                    </form>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</body>

</html>