<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <title>找回密码 - XtExam</title>

    <link rel="stylesheet" href="/static/css/passwordRecovery.css">
    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="/static/js/passwordRecovery.js" defer></script>
</head>

<body>
    <div class="container">
        <!--第一个状态-->
        <div class='main-box status1 show'>
            <div class='upper-box'>
                <img src='/static/img/lock.png' class='logo'>
                <form class="email-form" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-control">
                        <label for="email">邮箱</label>
                        <input type="text" id="email" name="email" placeholder="请输入邮箱" />
                        <small>Error message</small>
                    </div>
                    <button class="send-captcha submit-btn" type="submit">发送验证码</button>
                </form>
            </div>
            <div class="divider"></div>
            <div class='links-box'>
                <a href="#" target="_blank" title="新建账号" class='blue-links'>新建账号</a>
                <a href="../login/" title="返回登录页面">返回登录页面</a>
            </div>
        </div>

        <!--第二个状态-->
        <div class='main-box status2 disabled'>
            <div class='upper-box'>
                <img src='/static/img/lock.png' class='logo'>
                <form class="captcha-form" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-control">
                        <label for="captcha">验证码</label>
                        <input type="text" id="captcha" name="captcha" placeholder="请输入验证码" />
                        <small>Error message</small>
                    </div>
                    <button class="captcha-submit submit-btn" type="submit">确认</button>
                </form>
            </div>
            <div class="divider"></div>
            <div class='links-box'>
                <span class='text'>没有收到验证码?</span>
                <a href="#" target="_blank" title="重新发送" class='blue-links'>重新发送</a>
            </div>
        </div>

        <!--第三个状态-->
        <div class='main-box status3 disabled'>
            <div class='upper-box'>
                <img src='/static/img/lock.png' class='logo'>
                <form class="setpsd-form" method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-control">
                        <label for="">新密码</label>
                        <input type="text" id="newpsd" name="newpsd" placeholder="请输入新密码" />
                        <small>Error message</small>
                    </div>
                    <button class="psd-submit submit-btn" type="submit">确认</button>
                </form>
            </div>
            <div class="divider"></div>
            <div class='links-box'></div>
        </div>

        <!--第四个状态-->
        <div class='main-box status4 disabled'>
            <div class='upper-box'>
                <img src='/static/img/ok-sign.png' class='logo'>
                <button class="gotologin-submit submit-btn" type="submit">去登录</button>
            </div>
            <div class="divider"></div>
            <div class='links-box'></div>
        </div>
    </div>
</body>

</html>