<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="utf-8">
    <title>学生主页 - XtExam</title>

    <link rel="stylesheet" href="/static/css/student.css">
    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="/static/js/student.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>

<body>
    <div id="notification-container"></div>
    <div class="sidebar">
        <img src='/static/img/default_student_avatar.png' alt='avatar'>
        <div class='class_manage-btn sidebar-btn'>已选课程</div>
        <div class='exampaper_manage-btn sidebar-btn'>个人信息</div>
        <div class='exit-btn sidebar-btn'>退出</div>
    </div>

    <div class="content">
        <div class='content-box profile-box show'>
            <div class='upper-box'>
                <img src='/static/img/default_student_avatar.png' alt='avatar'>
                <div class='info-box'>
                    <span id='name'>Student</span>
                    <span>学生&nbsp;&nbsp;你好!</span>
                    <br>
                    <span id='motto'>一句话介绍自己!</span>
                    <div id='edit-profile-btn'>编辑个人资料</div>
                </div>
            </div>
            <div class="divider"></div>
            <div class='lower-box-container'>
                <!--第一个状态-->
                <div class='lower-box status1 show'>
                    <div id='welcome'>Welcome!</div>
                </div>
                <!--第二个状态-->
                <div class='lower-box status2 disabled'>
                    <div class='inner-box'>
                        <form class="profile-form" method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-control">
                                <label for="form-name">姓名</label>
                                <input type="text" id="form-name" name="form-name" placeholder="姓名" />
                                <small>Error message</small>
                            </div>
                            <div class="form-control">
                                <label for="form-motto">个性签名</label>
                                <input type="text" id="form-motto" name="form-motto" placeholder="个性签名" />
                                <small>Error message</small>
                            </div>
                            <div class="form-control">
                                <span id='avatar-label'>头像</span><br>
                                <label id='form-avatar-label' for="form-avatar">浏览</label>
                                <input type="file" accept="image/*" id="form-avatar" name="form-avatar" />
                                <small>Error message</small>
                            </div>
                            <button class="profile-submit submit-btn" type="submit">修改</button>
                        </form>
                    </div>
                </div>
                <!--第三个状态-->
                <div class='lower-box status3 disabled'>
                    <div class='inner-box'>
                        <img src='/static/img/ok-sign.png' id='ok'>
                        <div class="finished-btn submit-btn">完成</div>
                    </div>
                </div>
            </div>
        </div>

        <div class='content-box class_manage-box disabled'>
            <div class='title-box'>
                <img src='/static/img/course.png'>
                <div id='class_manage_title-text'>已选课程</div>
            </div>
            <div class="divider1"></div>
            <!--加入的按钮以及悬浮窗-->
            <div class="floating-plus"><span>+</span></div>
            <div id='overlay'></div>
            <div class='create_class-box floatingWindow'>
                <div class="window-header">
                    <div class="window-buttons">
                        <div class="window-button close"></div>
                        <div class="window-button minimize"></div>
                        <div class="window-button maximize"></div>
                    </div>
                    <div class="window-title">加入班级</div>
                </div>
                <div class="window-content">
                    <form class="join_class-form" method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-control">
                            <label for="searchId">班级ID</label>
                            <input type="text" id="searchId" name="searchId" placeholder="请输入班级ID" />
                            <small>Error message</small>
                        </div>
                        <button class="join_class-submit submit-btn" id="confirmBtn" type="submit">确认</button>
                    </form>
                </div>
            </div>
            <div class='class_list-box'></div>
        </div>
    </div>
</body>

</html>