:root {
    --background-color: rgb(255, 255, 255);
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

/* 全局样式 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.divider {
    border-top: 2px solid #777;
    width: 90%;
    height: 1px;
    margin: 0 0 0 0;
}

.submit-btn {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 8px;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 90%;
}

.submit-btn:hover {
    background-color: #2776ab;
}

.form-control {
    margin-bottom: 10px;
    width: 90%;
    position: relative;
}

.form-control label {
    color: #777;
    margin-left: 10px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 12px;
    background-color: #EFEFEF;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control select {
    border: 2px solid #f0f0f0;
    border-radius: 12px;
    background-color: #EFEFEF;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.disabled {
    pointer-events: none;
}

#notification-container {
    position: fixed;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}
  
.notification-bar {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(20, 126, 201);
    border-radius: 4px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: bold;
    color: rgb(252, 253, 254);
}

/* 侧边栏样式 */
.sidebar {
    width: 250px;
    height: 100vh;

    border-right: 1px solid #BBBBBB;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar > img {
    width: 150px;
    height: 150px;
    position: relative;
    transition: opacity 0.5s ease;
}

.sidebar > img:hover {
    opacity: 0.7;
    cursor: pointer;
}


.student_list {
    width: 210px;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.student_list:hover {
    overflow: auto;
}

.student_list::-webkit-scrollbar {
    width: 0.1em;
    height: 0.5em;
}

.student_list::-webkit-scrollbar-thumb {
    background-color: #888;
}

.student_list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.student_list.hidden-scrollbar {
    overflow: hidden;
}

.student-item {
    width: 200px;
    height: 60px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;
    padding: 0px 20px 0px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;

    font-size: 20px;
}

.student-item:hover {
    background-color: #EFEFEF;
}

.selected {
    border-color: #33CCCC;
    border-width: 2px;
}

.btn-container {
    width: 200px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-btn {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;

    cursor: pointer;
    border-radius: 12px;
    color: black;
    font-size: 18px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #BBBBBB;
}

.sidebar-btn:hover {
    background-color: #EFEFEF;
}

.sidebar-btn img {
    width: 40px;
    height: 40px;
}

/* 主内容样式 */
.content {
    height: 100vh;

    margin-left: 270px;
    padding: 20px;
    position: relative;
}

.content-box {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-box.show {
    opacity: 1;
}

/* welcome-box */
#welcome {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#under_welcome {
    font-size: 20px;
    color: #BBBBBB;
}

/* ans_details-box */
.statistics-box {
    border: 1px solid #BBBBBB;
    width: 80%;
    min-height: 80px;
    margin-top: 20px;
    border-radius: 12px;
    padding-left: 280px;
    padding-right: 360px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 22px;
}

.ans_details-box {
    display: flex;
    justify-content: flex-start;
}

.ans_details-header {
    width: 100%;
    min-height: 15vh;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ans_details-header-text {
    font-size: 48px;
    margin-left: 100px;
}

.question-list {
    position: relative;
    width: 100%;
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* editor特供form-control */
.editor-form-control {
    margin-bottom: 10px;
    width: 90%;
    position: relative;
}

.editor-form-control label {
    color: #777;
    margin-left: 10px;
}

.editor-form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    background-color: #EFEFEF;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
}

.editor-form-control input:focus {
    
}

.editor-form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.editor-form-control select {
    border: 2px solid #f0f0f0;
    border-radius: 12px;
    background-color: #EFEFEF;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.editor-form-control textarea {
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    background-color: #EFEFEF;
    padding: 5px;
}

.question-item {
    width: 80%;
    min-height: 200px;
    padding: 10px;

    margin-top: 20px;
    border: 1px solid #BBBBBB;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.prompt {
    width: 80%;
    height: 4em;

    background-color: #EFEFEF;
}

.options {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #EFEFEF;
}

.option_item {
    margin: 2px 10px 2px 10px;
}

.ans-container {
    width: 80%;

    background-color: #EFEFEF;
}

.blank_list {
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #EFEFEF;
}

.blank_item {
    margin: 2px 10px 2px 10px;
}

.form-score {
    width: 72px;

    border: 2px solid #f0f0f0;
    border-radius: 8px;
    background-color: #EFEFEF;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
}

.question-item form {
    margin-right: 600px;
}

.form-score:focus {
    outline: 0;
    border-color: #777;
}


/*悬浮的保存*/
.floating-save {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #2196f3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.floating-save:hover {
    background-color: #1976d2;
}

.floating-save span {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}